.body{
    background-color: antiquewhite;
}
.yahia11{
    background-color: antiquewhite;
    padding: auto;
    width: 400px;
    height: 400px;
    margin: auto;
    display: inline-block;
    overflow: auto;
}
 
.div{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

.yahia12{
    text-align: center;
     text-transform: capitalize;
    text-decoration: underline;
}